.kalcontainer {

}
.kalcontainer table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid #ffffff;
}
.kalcontainer table th {
    border: 1px solid #ffffff;
}
.kalcontainer table td {
    border: 1px solid #ffffff;
}
.monat {
    background-image: linear-gradient(to bottom, #ffffff, #ff0000);
}
.wochtag td {
    background-image: linear-gradient(to left, #BCBCBD, #858485);
}
.altmon {
    background-color: #A4A5A5;
    color: #434342;
}
.aktmon {
    background-image: linear-gradient(to left, #ffffff, #CEE2F7);

}
.feiertag {
    color: #ff0000;
}